@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

.rf {
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.846);
}

.body {
  max-width: 720px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.h_list {
  display: flex;
}

.h_elem {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 17px;
  opacity: 60%;
  margin-right: 10px;
  padding: 10px 5px 5px 5px;
}

.h_elem:hover {
  background-color: rgba(128, 128, 128, 0.128);
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}

.h_mode {
  background-color: rgba(128, 128, 128, 0.411);
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgba(128, 128, 128, 0);
  color: rgb(0, 0, 0);
  transition: all 0.4s;
}

.h_mode:hover {
  color: black;
  cursor: pointer;
  border: 2px solid rgb(44, 44, 44);
  box-sizing: border-box;
  transition: all 0.4s;
}

.h_mode_light {
  background-color: rgba(83, 83, 83, 0.34);
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgba(128, 128, 128, 0);
  color: rgb(255, 255, 255);
  transition: all 0.4s;
}

.h_mode_light:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  transition: all 0.4s;
  color: white;
}

.card_id {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 45px;
}

.name_page {
  padding-top: 60px;
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 45px;
}

.job {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  padding-top: 7px;
}

.icon {
  padding-left: 7px;
}

.div_description {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  line-height: 1.4;
}

.f_description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  line-height: 1.4;
  padding-top: 20px;
}

.title {
  padding-top: 60px;
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 32px;
}

.sub_title {
  padding-top: 30px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.sub_project {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.sub-view {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  font-size: 17px;
  opacity: 60%;
}

.listing_projects {
  display: flex;
  padding-top: 20px;
}

.card_fp {
  flex: 1;
  border: 4px solid;
  border-radius: 50%;
  border-image-source: linear-gradient(to bottom left, rgb(5, 13, 89), #0059ff);
  border-image-slice: 1;
  transition: border-image-source 0.9s;
  margin-right: 18px;
  padding: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_fp:hover {
  border-image-source: linear-gradient(
    to bottom,
    rgb(255, 1, 1),
    rgb(45, 45, 45)
  );
  cursor: pointer;
}

.card__fp {
  flex: 1;
  border: 4px solid;
  border-image-source: linear-gradient(to top left, #007782, #afaeae);
  border-image-slice: 1;
  transition: border-image-source 0.9s;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__fp:hover {
  border-image-source: linear-gradient(
    to bottom,
    rgb(255, 128, 1),
    rgb(45, 45, 45)
  );
  cursor: pointer;
}

.card___fp {
  flex: 1;
  border: 4px solid;
  border-image-source: linear-gradient(to top right, #00fbff, #401a2d);
  border-image-slice: 1;
  transition: border-image-source 0.9s;
  margin-left: 18px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card___fp:hover {
  border-image-source: linear-gradient(
    to bottom,
    rgb(69, 255, 1),
    rgb(45, 45, 45)
  );
  cursor: pointer;
}

.a_list {
  margin-top: 15px;
}

.card_title {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 6px;
}

.card_description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.listing_cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(128, 128, 128, 0.208);
  padding-top: 12px;
}

.listing_p_card {
  margin-bottom: 160px;
}

.p_card {
  padding-top: 45px;
}

.p_project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_description {
  font-family: "Vazirmatn", sans-serif;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.p_features {
  font-family: "Vazirmatn", sans-serif;
  margin-top: 6px;
  font-weight: 400;
  font-size: 16px;
}

.p_stack {
  padding-top: 15px;
  opacity: 60%;
  font-size: 15px;
}

.listing_ab {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_ab {
  min-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.093);
  border-radius: 5px;
}

.card_ab:hover {
  box-shadow: 1px 1px 10px rgba(126, 126, 126, 0.242);
  transition: all 0.3s;
}

.title_ab {
  padding-top: 10px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.description_ab {
  padding-top: 10px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 17px;
  opacity: 70%;
}

.listing_contact {
  margin-top: 15px;
}

.list_li {
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
}

.link_more:hover {
  text-decoration: underline;
  color: #0059ff;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 160px;
  border-top: 1px solid rgba(128, 128, 128, 0.148);
  padding-top: 30px;
  padding-bottom: 60px;
}
