@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

.rf {
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.846);
}

.body {
  transition: all 0.9s;
  max-width: 720px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.h_list {
  display: flex;
}

.h_elem {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 17px;
  opacity: 60%;
  margin-right: 10px;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
}

.h_elem_loc {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 17px;
  opacity: 90%;
  margin-right: 10px;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
}

.h_elem:hover {
  background-color: rgba(128, 128, 128, 0.128);
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
}

.h_mode {
  background-color: rgba(128, 128, 128, 0.411);
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgba(128, 128, 128, 0);
  color: rgb(0, 0, 0);
  transition: all 0.4s;
}

.h_mode:hover {
  color: black;
  cursor: pointer;
  border: 2px solid rgb(44, 44, 44);
  box-sizing: border-box;
  transition: all 0.4s;
}

.h_mode_light {
  background-color: rgba(83, 83, 83, 0.34);
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgba(128, 128, 128, 0);
  color: rgb(255, 255, 255);
  transition: all 0.4s;
}

.h_mode_light:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  transition: all 0.4s;
  color: white;
}

.card_id {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.text_id {
  max-width: 580px;
}

.name {
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 45px;
}

.avatar {
  display: flex;
  justify-content: center;
  padding-left: 15px;
}

.avatar img {
  display: flex;
  object-fit: cover;
  min-width: 110px;
  max-height: 110px;
  border-radius: 50%;
}

.name_page {
  padding-top: 60px;
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 45px;
}

.job {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  padding-top: 7px;
}

.icon {
  padding-left: 7px;
}

.div_description {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  line-height: 1.4;
}

.f_description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  line-height: 1.4;
  padding-top: 20px;
}

.title {
  padding-top: 60px;
  font-family: "Vazirmatn", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 32px;
}

.sub_title {
  padding-top: 30px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.set_title {
  padding-top: 55px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.sub_project {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.sub-view {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  font-size: 17px;
  opacity: 60%;
}

.listing_projects {
  padding-top: 20px;
  display: flex;
  padding: 10px;
}

.card_fp {
  flex: 1;
  border: 4px solid;
  border-image-source: linear-gradient(
    to bottom left,
    rgb(92, 92, 92),
    #000000
  );
  border-image-slice: 1;
  transition: all 0.9s;
  padding: 15px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_card {
  display: flex;
  justify-content: center;
}

.img_card img {
  display: flex;
  object-fit: cover;
  border-radius: 3px;
}

.card_fp:hover {
  transition: all 0.9s;
  border-image-source: linear-gradient(
    to left bottom,
    rgb(255, 0, 0),
    rgb(81, 255, 0),
    rgb(49, 136, 243),
    rgb(255, 242, 0),
    rgb(153, 139, 164)
  );
  box-shadow: 1px 1px 10px rgb(49, 136, 243);
  cursor: pointer;
}

.card__fp {
  flex: 1;
  border: 4px solid;
  border-radius: 10px;
  border-image: linear-gradient(to bottom left, rgb(92, 92, 92), #000000);
  border-image-slice: 1;
  transition: all 0.9s;
  padding: 15px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__fp:hover {
  transition: all 0.9s;
  border-image-source: linear-gradient(
    to left bottom,
    rgb(255, 0, 0),
    rgb(81, 255, 0),
    rgb(49, 136, 243),
    rgb(255, 242, 0),
    rgb(153, 139, 164)
  );
  box-shadow: 1px 1px 10px rgb(240, 240, 240);

  cursor: pointer;
}

.card___fp {
  flex: 1;
  border: 4px solid;
  border-image-source: linear-gradient(
    to bottom left,
    rgb(92, 92, 92),
    #000000
  );
  border-image-slice: 1;
  transition: all 0.9s;
  padding: 15px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card___fp:hover {
  transition: all 0.9s;
  border-image-source: linear-gradient(
    to left bottom,
    rgb(255, 0, 0),
    rgb(81, 255, 0),
    rgb(49, 136, 243),
    rgb(255, 242, 0),
    rgb(153, 139, 164)
  );
  box-shadow: 1px 1px 10px rgb(0, 255, 51);

  cursor: pointer;
}

.a_list {
  margin-top: 15px;
}

.card_title {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 6px;
}

.card_description {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.listing_cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(128, 128, 128, 0.208);
  padding-top: 12px;
}

.listing_p_card {
  margin-bottom: 160px;
}

.p_card {
  padding-top: 45px;
}

.p_project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.p_description {
  font-family: "Vazirmatn", sans-serif;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.p_features {
  font-family: "Vazirmatn", sans-serif;
  margin-top: 6px;
  font-weight: 400;
  font-size: 16px;
}

.p_stack {
  padding-top: 15px;
  opacity: 60%;
  font-size: 15px;
}

.listing_ab {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_ab {
  min-width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid rgba(78, 78, 78, 0.248);
  border-radius: 5px;
}

.card_ab:hover {
  box-shadow: 1px 1px 10px rgba(126, 126, 126, 0.242);
  transition: all 0.3s;
}

.title_ab {
  padding-top: 10px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.description_ab {
  padding-top: 10px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 17px;
  opacity: 70%;
}

.listing_contact {
  margin-top: 15px;
}

.list_li {
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
}

.list_set {
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  opacity: 85%;
}

.link_more {
  font-weight: 600;
}

.link_more:hover {
  text-decoration: underline;
  color: #0059ff;
}

.stat {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 19px;
  opacity: 80%;
  line-height: 1.4;
}

.count {
  padding-top: 10px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 800;
  font-size: 35px;
}

.modal_img {
  display: flex;
  object-fit: cover;
}

.modal_img img {
  display: flex;
  object-fit: contain;
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container img {
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 160px;
  border-top: 1px solid rgba(128, 128, 128, 0.148);
  padding-top: 30px;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .listing_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }

  .img_card {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .img_card img {
    display: flex;
    object-fit: cover;
    border-radius: 3px;
  }

  .card_fp {
    margin-bottom: 20px;
  }
  .card__fp {
    margin-bottom: 20px;
  }
}

@media (min-width: 601px) {
  .listing_projects {
    display: flex;
    padding-top: 20px;
  }

  .card_fp {
    flex: 1;
    border: 4px solid;
    border-image-source: linear-gradient(
      to bottom left,
      rgb(92, 92, 92),
      #000000
    );
    border-image-slice: 1;
    transition: all 0.9s;
    margin-right: 18px;
    padding: 15px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__fp {
    flex: 1;
    border: 4px solid;
    border-radius: 10px;
    border-image: linear-gradient(to bottom left, rgb(92, 92, 92), #000000);
    border-image-slice: 1;
    transition: all 0.9s;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card___fp {
    flex: 1;
    border: 4px solid;
    border-radius: 10px;
    border-image: linear-gradient(to bottom left, rgb(92, 92, 92), #000000);
    border-image-slice: 1;
    transition: all 0.9s;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img_card {
    display: flex;
    justify-content: center;
  }

  .img_card img {
    display: flex;
    object-fit: cover;
    border-radius: 3px;
  }
}
